version: '3.8'

services:
  corvidcache:
    build: .
    container_name: corvidcache
    ports:
      - "8080:8080"
    volumes:
      - ./downloads:/app/downloads
      - ./data:/app/data
    environment:
      - YTDL_DATABASE_URL=sqlite+aiosqlite:///./data/ytdl.db
      - YTDL_DOWNLOADS_DIR=/app/downloads
      - YTDL_MAX_CONCURRENT_DOWNLOADS=3
      - YTDL_RUNNING_IN_DOCKER=true
      - UMASK=000
      - PUID=99
      - PGID=100
    restart: unless-stopped
